h1{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color: aquamarine;
    font-size: large;
}
mark{
    color: aquamarine;
}
button{
    border: none;
    color: aquamarine;
    background-color: rgb(32, 31, 31);
    text-shadow: aqua;
    text-decoration: none;
    display: inline-block;
    overflow: hidden
}